In [1]:
import os
import csv
csv = os.path.join("..", "Resources", "WWE-Data-2016.csv)")

In [2]:
x='10' * 10
print (x)

10101010101010101010

In [3]:
import pandas as pd

In [4]:
candy_df = pd.DataFrame(
    [{'candy':'snickers','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':9.5, 'cost':1.50},
     {'candy':'skittles','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':9.2, 'cost':0.99},
     {'candy':'caramello','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':8.3, 'cost':0.99},
     {'candy':'circus peanuts','has_chocolate':False, 'has_nuts':False, 'is_fruity':False, 'rating':2.2, 'cost':0.49},
     {'candy':'whatchamacallit','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':7.8, 'cost':1.49},
     {'candy':'starburst','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':8.5, 'cost':1.00},
     {'candy':'mars bar','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':7.2, 'cost':1.30},
    ]
)
candy_df

             candy  has_chocolate  has_nuts  is_fruity  rating  cost
0         snickers           True      True      False     9.5  1.50
1         skittles          False     False       True     9.2  0.99
2        caramello           True     False      False     8.3  0.99
3   circus peanuts          False     False      False     2.2  0.49
4  whatchamacallit           True      True      False     7.8  1.49
5        starburst          False     False       True     8.5  1.00
6         mars bar           True     False      False     7.2  1.30

In [5]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html

In [22]:
def favorite_candy(candy_row):
    return candy_row["has_nuts"] and candy_row["cost"] < 2.0

candy_df[candy_df.apply(lambda candy_row:candy_row["has nuts"] and candy_row["cost"] < 2.0)]

KeyError: 'has nuts'

In [14]:
candy_df[candy_df.apply(favorite_candy, axis = 1)]

             candy  has_chocolate  has_nuts  is_fruity  rating  cost
0         snickers           True      True      False     9.5  1.50
4  whatchamacallit           True      True      False     7.8  1.49

In [23]:
candy_df

             candy  has_chocolate  has_nuts  is_fruity  rating  cost
0         snickers           True      True      False     9.5  1.50
1         skittles          False     False       True     9.2  0.99
2        caramello           True     False      False     8.3  0.99
3   circus peanuts          False     False      False     2.2  0.49
4  whatchamacallit           True      True      False     7.8  1.49
5        starburst          False     False       True     8.5  1.00
6         mars bar           True     False      False     7.2  1.30

In [27]:
for candy in candy_df.iterrows():
        if candy[1]:
                print("Yummy + candy[0])

SyntaxError: EOL while scanning string literal (Temp/ipykernel_13584/1984233324.py, line 3)

In [30]:
candies = [{'name':'snickers','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':9.5, 'cost':1.50},
           {'name':'skittles','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':9.2, 'cost':0.99},
           {'name':'caramello','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':8.3, 'cost':0.99},
           {'name':'circus peanuts','has_chocolate':False, 'has_nuts':False, 'is_fruity':False, 'rating':2.2, 'cost':0.49},
           {'name':'whatchamacallit','has_chocolate':True, 'has_nuts':True, 'is_fruity':False, 'rating':7.8, 'cost':1.49},
           {'name':'starburst','has_chocolate':False, 'has_nuts':False, 'is_fruity':True, 'rating':8.5, 'cost':1.00},
           {'name':'mars bar','has_chocolate':True, 'has_nuts':False, 'is_fruity':False, 'rating':7.2, 'cost':1.30},
          ]

In [33]:
for candy in candies:
        if candy['has_chocolate'] :
            print("Yummy" + candy['name'])

Yummysnickers
Yummycaramello
Yummywhatchamacallit
Yummymars bar

In [ ]:
regextester.com